<h1>Hello Suryansh <b>DLNA</b></h1>
<table>
    <% for(var i=0; i < files.length; i++) { %>
    <tr>
        <td><a href="<%= files[i].address %>"><%= files[i].address %></a></td>
    </tr>
    <% } %>
</table>